//
//  RELEASE.xcconfig
//  TFS PROJECT
//
//  Created by Vladislav Kireev on 17.02.2020.
//  Copyright © 2020 VK. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// App Settings
APP_NAME = TFS Chat
APP_BUNDLE_ID = ru.tcsbank.TinkoffChat
PRODUCT_BUNDLE_IDENTIFIER = ru.tcsbank.TinkoffChat
#include "Pods/Target Support Files/Pods-TFS Chat/Pods-TFS Chat.release.xcconfig"
